.imagePropos img{
    width: 90%;
    height: 500px;
    align-items: center;
    justify-content: center;

}
.naissance h3{
    font-size: 65px;
    line-height: 1;
    font-family: var(--font-heading-family);
    font-weight: 700;
}
.naissance{
    align-items: self-start;
    padding-top: 6rem;
}