.imgdeodorant img :hover{
background: #fff;
}
.rowDentifrice{
    background-image: url("../assets/img/dentbackground.webp");
    background-repeat: no-repeat;
top: 0;
left: 0;
background-size: cover;
}
.my-custom-margin {
    margin-bottom: 15%; /* Ajuster la valeur selon vos besoins */
  }
/* 
.image-container {
    position: relative;
    width: 100%; /* ou une largeur fixe, selon vos besoins 
}

.default-image,
.hover-image {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease;
}

.hover-image {
    opacity: 0;
}

.image-container:hover .default-image {
    opacity: 0;
}

.image-container:hover .hover-image {
    opacity: 1;
} */
