.avecimage{
    background-image: url("../assets/img/premiereImag.jpg");
    background-size: cover;
    height: 15rem;
color: #0000004d;
   opacity: 1s;
}
.avecimage h2{
  color: #ffffff;  
  padding-left: 4rem;
  padding-top: 4rem;
}
.best{
    margin-left: 2px;
}
.avis{
    margin-left: 3rem;
}
.avis p i{
    color: #ffc451;
    width: 10%;
}
.monet p{
    padding-left: 12px;
}
.satisfaite p{
text-align: center;
padding-top: 0.3rem;
font-weight: bold;
font-size: 12px;
color: #156a04;
}
.satisfaite{
    height: 1.5rem;
    margin-left: 8rem;
    margin-top: 1rem;
    /* padding-top: 2rem; */
}
.card img{
    background: #fef9f6;
}
.quatriemeimage, img{
    height: 17rem;
    background: #fef9f6;;
}
.image1{
    background-image: url("../assets/img/images1.jpg");
    height: 17rem;
    background-repeat: no-repeat;
}
.image2{
    background-image: url("../assets/img/cheuveaux.jpg");
    height: 17rem;
    background-repeat: no-repeat;
}
.image3{
    background-image: url("../assets/img/dentifrice.jpg");
    height: 25rem;
    background-repeat: no-repeat;
}
.image4{
    background-image: url("../assets/img/visage.jpg");
    height: 17rem;
    background-repeat: no-repeat;
}
.image5{
    background-image: url("../assets/img/corps.jpg");
    height: 17rem;
    background-repeat: no-repeat;
}
.imagesdeux{
    background-image: url("../assets/img/cimquieme.jpg");
    width: 200px;
  
}
.categories {
    margin-top: 1rem;
  }

  .col {
    margin-right: 0.5rem; /* Ajustez la marge selon vos préférences */
    margin-left: 0.5rem;  /* Ajustez la marge selon vos préférences */
  }

  .a a {
    color: white; /* Couleur du texte en blanc */
    font-size: 20px;
    text-align: center;
  }
  .colprincip{
    padding-top: 2rem;
    text-align: center;
  }
  .colprincip p{
    font-weight: bold;
  }
  .colprincip .form-check{
   padding-left: 3rem;
  }
  .colprincip  .input{
    margin-left: 1rem;
    width: 200;
  }
  .iconme i{
color: #007266;
margin: 7px;
font-size: 19px;
  }
  .card{
    border: none;
  }
  .produit{
    margin-top: 2rem;
  }
  .navpricipale a{
    color: black;
    font-size: 13px;
    }
    .containerdeux{
        background-image: url("../assets/img/premiereImag.jpg");
        margin-top: 10rem;
        height: 15rem;
        width: 100%;
            
       
    }